In [1]:
import pandas as pd
import numpy as np

In [2]:
house = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
house.sample(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
1018,Super built-up Area,Ready To Move,Kattigenahalli,7 BHK,NaN,4100,7.0,NaN,140.00
7280,Super built-up Area,Ready To Move,Sarjapur Road,3 BHK,CoLeoen,1457,3.0,3.0,85.00
11714,Built-up Area,Ready To Move,Allalasandra,2 BHK,Jaensa,560,2.0,1.0,22.00
9111,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1590,3.0,2.0,57.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
8033,Super built-up Area,Ready To Move,Thigalarapalya,3 BHK,Prtanha,2072,4.0,2.0,160.00
11019,Plot Area,Immediate Possession,Yelahanka,NaN,Saaveha,1200 - 1800,NaN,NaN,12.75
10908,Super built-up Area,18-Feb,Whitefield,4 BHK,BrlisCo,3410,5.0,3.0,253.00
2681,Super built-up Area,21-Dec,Thanisandra,1 BHK,Bhe 2ko,693,1.0,1.0,34.30
8380,Built-up Area,21-Dec,"Electronic city Phase 1,",2 BHK,NaN,950,2.0,1.0,33.00

In [4]:
house.shape

(13320, 9)

In [5]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

## handling null values

In [6]:
for column in house.columns:
    print(house[column].value_counts())
    print("*"*50)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
**************************************************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
**************************************************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
**************************************************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
**************************************************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
**************************************************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
**************************************************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
**************************************************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
**************************************************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
**************************************************

In [7]:
house.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
#since society has max null values, so we will drop them along with
#area type, availablity, blacony as they are not relevant

In [9]:
house.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [10]:
house.sample(5)

                 location   size total_sqft  bath   price
3122   9th Phase JP Nagar  4 BHK       3500   4.0  300.00
6358          Bhoganhalli  2 BHK       1447   2.0   75.97
3881         Rajaji Nagar  3 BHK       2386   3.0  334.00
8606         Shanti Nagar  2 BHK       1130   2.0   74.00
7358  1st Block Jayanagar  2 BHK       1235   2.0  148.00

In [11]:
house.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [12]:
#max value of bathroom is 40..

In [13]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [14]:
house['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [15]:
# location has 1 missing value, replacing it with most frequet value

house['location'] = house['location'].fillna('Whitefield')

In [16]:
house['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [17]:
# replace missing value with most frequent

house['size'] = house['size'].fillna('2 BHK')

In [18]:
#replacing missing value with median

house['bath'] = house['bath'].fillna(house['bath'].median())

In [19]:
#all null values handled

house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [20]:
#size has bhk & bedroom mix up
#splitting & keeping only 1st element which is no of bedrooms or bhk which is the same thing

In [21]:
house['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [22]:
house['size'].str.split().str.get(0).astype(int)

0        2
1        4
2        3
3        3
4        2
        ..
13315    5
13316    4
13317    2
13318    4
13319    1
Name: size, Length: 13320, dtype: int32

In [23]:
house['bhk'] = house['size'].str.split().str.get(0).astype(int)

In [24]:
house['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [25]:
#there are aptments which has more then 20 bhks
#this is an outliar

house[house['bhk'] > 20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [26]:
#in total sqft column, there are values in range
#so replace it by mean of both those values which are in range
#like range of 100-150, so we will replace it with avg of both these numbers


house['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [27]:
def convertRange(x):
    
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    
    except:
        return None

In [28]:
house['total_sqft'] = house['total_sqft'].apply(convertRange)

In [29]:
house.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

## creating new column price per sqft

since price is in lakhs so we will divide price with sqft to remove outliars

In [30]:
(house['price'] * 100000) / (house['total_sqft'])

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Length: 13320, dtype: float64

In [31]:
house['price_per_sqft'] = (house['price'] * 100000) / (house['total_sqft'])

In [32]:
house.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [33]:
#now location has too many values but many locations only have 1 or 2 houses

In [34]:
house['location'].value_counts()

Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [35]:
#replace location which have less then 10 houses we weill replace it with 'Other'

In [36]:
house['location'] = house['location'].apply(lambda x:x.strip())

In [37]:
location_count = house['location'].value_counts()

In [38]:
location_count_lessthen10 = location_count[location_count < 10]
location_count_lessthen10

Vishwanatha Nagenahalli           9
Chennammana Kere                  9
2nd Phase JP Nagar                9
Jakkur Plantation                 9
B Narayanapura                    9
                                 ..
Bapuji Layout                     1
1st Stage Radha Krishna Layout    1
BEML Layout 5th stage             1
singapura paradise                1
Abshot Layout                     1
Name: location, Length: 1040, dtype: int64

In [39]:
# change value to other if x is in location_count_lessthen10 else let it be x

house['location'].apply(lambda x: 'other' if x in location_count_lessthen10 else x)

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316                       other
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13320, dtype: object

In [40]:
house['location'] = house['location'].apply(lambda x: 'other' if x in location_count_lessthen10 else x)

In [41]:
house['location'].value_counts()

other                  2755
Whitefield              542
Sarjapur  Road          399
Electronic City         304
Kanakpura Road          273
                       ...
BTM 1st Stage            10
Basapura                 10
Sector 1 HSR Layout      10
Kalkere                  10
Nagadevanahalli          10
Name: location, Length: 255, dtype: int64

## outliar detection & removal

In [42]:
house.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [43]:
# total sqft min is 1sqft.. thats an outaliar

In [44]:
#finding how many sqft in 1 bhk

(house['total_sqft']/house['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [45]:
#removeing house which has less then 300 sqft in 1 bhk

In [46]:
house[((house['total_sqft']/house['bhk']) >= 300)]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,other,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [47]:
house = house[((house['total_sqft']/house['bhk']) >= 300)]

In [48]:
house.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [49]:
house.shape

(12530, 7)

In [50]:
house['price_per_sqft'].describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [51]:
# max value in price pr sqft is an outliar

In [52]:
#keeping all which are within +1 or -1 from std

def remove_outliar_sqft(df):
    df_output = pd.DataFrame()
    for keys, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        
        gen_df = subdf[(subdf.price_per_sqft >= (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index=True)
        
    return df_output

In [53]:
remove_outliar_sqft(house)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.00,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.00,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.00,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.00,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.00,2,11983.805668
...,...,...,...,...,...,...,...
10277,other,2 BHK,1353.0,2.0,110.00,2,8130.081301
10278,other,1 Bedroom,812.0,1.0,26.00,1,3201.970443
10279,other,3 BHK,1440.0,2.0,63.93,3,4439.583333
10280,other,2 BHK,1075.0,2.0,48.00,2,4465.116279
10281,other,4 BHK,3600.0,5.0,400.00,4,11111.111111

In [54]:
house = remove_outliar_sqft(house)

In [55]:
house.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10282.000000  10282.000000  10282.000000  10282.000000    10282.000000
mean    1509.996956      2.474032     91.718675      2.576347     5669.007067
std      883.210082      0.986908     88.327858      0.900592     2292.794131
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4249.917219
50%     1286.000000      2.000000     67.000000      2.000000     5176.565008
75%     1650.000000      3.000000    100.000000      3.000000     6431.808627
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [56]:
def bhk_outliar_remover(df):
    exclude_indices = np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats = {}
        
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
            
        for bhk,bhk_df in location_df.groupby('bhk'):
            
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft < (stats['mean'])].index.values)
    return df.drop(exclude_indices,axis = 'index')

In [57]:
house = bhk_outliar_remover(house)

In [58]:
house.shape

(7402, 7)

In [59]:
house

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668
...,...,...,...,...,...,...,...
10273,other,2 BHK,1200.0,2.0,70.0,2,5833.333333
10274,other,1 BHK,1800.0,1.0,200.0,1,11111.111111
10277,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
10278,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
10281,other,4 BHK,3600.0,5.0,400.0,4,11111.111111

In [60]:
#removing irrelevant columns size & price per sqft which is only to remove outliar

In [61]:
house.drop(columns=['size','price_per_sqft'],inplace=True)

In [62]:
house.sample(5)

             location  total_sqft  bath  price  bhk
2778     Haralur Road      1243.0   2.0   46.0    2
9696            other      1630.0   3.0  131.0    3
5336       Nagarbhavi      1080.0   2.0   49.0    2
7204   Vidyaranyapura      1120.0   2.0   70.0    2
5492  Padmanabhanagar      1200.0   2.0   60.0    2

In [63]:
house.to_csv('cleaned_house.csv')

In [64]:
X = house.drop(columns=['price'])
y = house['price']

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [66]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [67]:
print(X_train.shape)
print(X_test.shape)

(5921, 4)
(1481, 4)

## applying linear regression

In [68]:
#applying ohe on categorical column -- location

column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [69]:
scaler = StandardScaler()

In [70]:
lr = LinearRegression(normalize=True)

In [71]:
#In the pipeline, data will first go thru ohe for location only, then standard scaler, & then linearregression

pipe1 = make_pipeline(column_trans,scaler,lr)

In [72]:
pipe1.fit(X_train,y_train)

C:\Users\User.DESKTOP-4E5E1RJ\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [73]:
y_pred_lr = pipe1.predict(X_test)

In [74]:
r2_score(y_test,y_pred_lr)

0.8950071836117377

## applying lasso

In [75]:
lasso = Lasso()

In [76]:
pipe2 = make_pipeline(column_trans,scaler,lasso)

In [77]:
pipe2.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [78]:
y_pred_lasso = pipe2.predict(X_test)

In [79]:
r2_score(y_test,y_pred_lasso)

0.8793212240421346

## aplying ridge

In [80]:
ridge = Ridge()

In [81]:
pipe3 = make_pipeline(column_trans,scaler,ridge)

In [82]:
pipe3.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [83]:
y_pred_ridge = pipe3.predict(X_test)

In [84]:
r2_score(y_test,y_pred_ridge)

0.8950428878677026

In [85]:
print("LR",r2_score(y_test,y_pred_lr))
print("Lasso",r2_score(y_test,y_pred_lasso))
print("Ridge",r2_score(y_test,y_pred_ridge))

LR 0.8950071836117377
Lasso 0.8793212240421346
Ridge 0.8950428878677026

## creating pkl file

In [86]:
import pickle

In [87]:
pickle.dump(pipe3,open('RidgeModel.pkl','wb'))